<!--<div class="consola">
  <div class="imagen">
    <img src="{{ consola?.imagenUrl }}" alt="" />
  </div>
  <div class="datos">
    <li>
      <h2>{{ consola?.nombre }}</h2>
    </li>
    <li>
      <fieldset>
        <legend>Año</legend>
        {{ consola?.fecha }}
      </fieldset>
    </li>
    <li>
      <fieldset>
        <legend>Compañia</legend>
        {{ consola?.empresa }}
      </fieldset>
    </li>
  </div>
  <button mat-raised-button (click)="eliminarConsola(index)">Eliminar</button>
</div>-->

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> {{ consola?.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ consola?.empresa }}</mat-card-subtitle>
      <mat-card-subtitle>{{ consola?.fecha }}</mat-card-subtitle>

      <img
        mat-card-sm-image
        src="{{ consola?.imagenUrl }}"
        alt="Image consola"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button (click)="eliminarConsola(index)">Eliminar</button>
  </mat-card-content>
</mat-card>
