<!--<div class="consola">
  <div class="imagen">
    <img src="{{ consola?.imagenUrl }}" alt="" />
  </div>
  <div class="datos">
    <li>
      <h2>{{ consola?.nombre }}</h2>
    </li>
    <li>
      <fieldset>
        <legend>Año</legend>
        {{ consola?.fecha }}
      </fieldset>
    </li>
    <li>
      <fieldset>
        <legend>Compañia</legend>
        {{ consola?.empresa }}
      </fieldset>
    </li>
  </div>
  <button mat-raised-button (click)="eliminarConsola(index)">Eliminar</button>
</div>-->

<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <p>{{ consola?.nombre }}</p></mat-card-title
      >
      <mat-card-subtitle>{{ consola?.distribuidor?.nombre}}</mat-card-subtitle>
      <mat-card-subtitle>{{ consola?.ano_salida }}</mat-card-subtitle>

      <img
        mat-card-lg-image
        src="{{ consola?.imagenurl }}"
        alt="Image consola"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="botones">
    <button mat-raised-button (click)="eliminarConsola(index)">Eliminar</button>
    <button mat-raised-button (click)="eliminarConsola(index)">Editar</button>
  </mat-card-content>
</mat-card>
